 	<footer>
 	  <div class="container">
        <p><a href="http://pusri.github.io" target="_blank">Pusri</a>2014</p>
      </div>
    </footer>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>