<%- include header %>
<div class="container">
<form method="post">
  <legend>发布新文章</legend>
  <label>标题</label>
  <input type="text" name="title" class="input-block-level"/>
  <label>内容</label>
  <textarea id="kindeditor" name="post" rows="20" cols="100" class="input-block-level"></textarea>
  <button type="submit" class="btn btn-primary">发表</button>
</form>
</div>
<%- include footer %>